* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins" sans-serif;
  }
  
  body {
    background-color: white;
    width: 100vw;
    height: 80vh;
    margin: 89px auto;
    font-family: Arial, Helvetica, sans-serif;
    /* overflow-x: hidden; */
  }
  
  .content-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 40px;
  }
  
  .content-1 .nav-menu-1 {
    display: flex;
    padding: 15px 50px;
    margin-top: -75px;
  }
  
  .content-1 .nav-menu-1 .ul-list-1 li {
    color: #d3d3d3;
    font-size: 1.2rem;
    font-family: "Poppins" sans-serif;
    cursor: pointer;
  }
  
  .content-1 .nav-menu-1 .ul-list-1 li:hover {
    color: lightsteelblue;
  }
  
  .content-1 .nav-menu-1 .ul-list-1 ul {
    list-style: none;
    margin-right: 2rem;
  }
  
  .content-1 .logo-1 {
    margin-top: -75px;
    background: #333;
    color: white;
    width: 35px;
    text-align: center;
    height: 35px;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 200;
    object-fit: cover;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .content-1 .logo-1 a {
    text-decoration: none;
    color: white;
  }
  
  .blog-data-1 {
    margin-left: 9rem;
    margin-top: 4rem;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .info-2 {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4rem;
  }
  
  .info-2 img {
    width: 80vw;
    height: 30vw;
    object-fit: cover;
    border-radius: 10px;
    flex-wrap: wrap;
    margin-right: 19rem;
  }
  
  .blog-text-1 {
    padding: 5px;
    display: flex;
    flex-direction: column;
    margin-right: -20rem;
    margin-top: 0rem;
    width: 70%;
  }
  
  .blog-text-1 span {
    color: #333;
    font-size: 1.7rem;
    margin-bottom: 0.9rem;
    font-weight: 700;
  }
  
  .blog-text-1 p {
    font-size: 1.1rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 1rem;
    color: #d3d3d3;
  }